 @font-face {
    font-family: elf;
    src: url(Acadian_Runes-Regular_PERSONAL_USE.ttf);
 }
 
 
 
 html,
 body {
     width: 100%;
     height: 100%;
     margin: 0px;
     padding: 0px;
 }


 html body {
     font-size: 1.2rem;
     padding: 0px;
     margin: 0px;
 }

 .main {
     display: flex;
     flex-flow: wrap;
     justify-content:center;
     width: 100vw;
     height: 100vh;
 }

.left {
    width: 40vw;
    min-height: 300px;
    flex-grow: 1;
    min-width: 300px;
    background-image: url(/roan-lavery-lvy_VvdLmnA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.logo-container {
    width: 100%;
    height: max(100px, 20%);
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top:25%;
    display: flex;
    justify-content: center;
}

img {
    height: 80%;
    align-self: center;
}

.logo-text{
    font-family: elf;
    color: aliceblue;
    font-size: 7rem;
    align-self: center;
    margin-left: 1rem;
}

.credit {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: aliceblue;
}

a:active{
    color: aliceblue;
}
a:visited {
    color: aliceblue;
}

.right{
    width: 60vw;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-1{
    font-size: 20px;
    padding: 8vh 32px 0px 32px;
    font-weight: bold;
}

form{
    padding: 32px;
    background-color: white;
    display: inline-block;
    border: 3px solid white
}

.section-3{
    padding-bottom: 15vh;
    padding-left: 32px;
}