 @font-face {
    font-family: elf;
    src: url(Acadian_Runes-Regular_PERSONAL_USE.ttf);
 }
 
 
 
 html,
 body {
     width: 100%;
     height: 100%;
     margin: 0px;
     padding: 0px;
 }

 body {
    background-color: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
 }


 html body {
     font-size: 1.2rem;
     padding: 0px;
     margin: 0px;
 }

 .main {
     display: flex;
     flex-flow: wrap;
     justify-content:center;
     width: 100vw;
     height: 100vh;
 }

.left {
    width: 40vw;
    min-height: 300px;
    flex-grow: 1;
    min-width: 300px;
    background-image: url(/roan-lavery-lvy_VvdLmnA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.logo-container {
    width: 100%;
    height: max(100px, 20%);
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top:25%;
    display: flex;
    justify-content: center;
}

img {
    height: 80%;
    align-self: center;
}

.logo-text{
    font-family: elf;
    color: aliceblue;
    font-size: 7rem;
    align-self: center;
    margin-left: 1rem;
}

.credit {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: aliceblue;
}

.left a:active{
    color: aliceblue;
}
.left a:visited {
    color: aliceblue;
}

.right{
    width: 60vw;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-1{
    font-size: 20px;
    padding: 8vh 32px 0px 64px;
    font-weight: bold;
    max-width: 40rem;
}

form{
    padding: 16px 16px 16px 64px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

form h2 {
    color: rgb(78, 78, 78);
}

.section-3{
    padding-bottom: 15vh;
    padding-left: 64px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-content: flex-start;
    max-width: 800px;
}

label {
    width: 200px;
    margin: 16px 128px 16px 0px;
    font-size: 0.8rem;
    color:rgb(78, 78, 78);
    font-weight: bold;
}

input {
    width: 200px;
    height: 22px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 4px;
    font-weight: bold;
}

input:focus{
    outline-color: #3c633b;
}

button{
    border-radius: 6px;
    background-color: #3c633b;
    color: white;
    border: 3px solid #3c633b;
    font-weight: bold;
    padding: 12px 34px;
    font-size: 1.2rem;
    box-shadow: 8px 8px 16px rgb(187, 187, 187);
    margin-bottom: 20px;
}

button:hover {
    border: 3px solid #000000;
}

.section-3 a{
    color:#3c633b;
    text-decoration: none;
    font-weight: bold;
}

input:invalid{
    outline-color: red;
}

input:valid {
    outline-color:#80d37f;
}